.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.header__nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70%;
    height: 3rem;
    background-color: var(--backgroundHeader);
    z-index: 1;
}
.header__section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.header__ul-carrito{
    position: absolute;
    right: 0;
    top: -100%;
    width: 40%;
    height: max-content;
    max-height: 70vh;
    overflow-y: scroll;;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--backgroundHeader);
    transition: all .5s;
    list-style: none;
    gap:1rem;
    padding: .5rem;
}
.show{
    top: 3rem;
}
.header__li{
    color: #fff;
    font-size: 2rem;
    height: 3.5rem;
    width: 100%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header__li-total{
    font-size:2rem;
}